<link rel="stylesheet" href="/css/progess.css">


<div class="wrapper-nav">
        <nav class="teal lighten-2 menu-holizontal" id="nav">
        <ul class="left">
          <li><a href="../home/math"><i class="fa fa-book icon_of_menu_holizontal"  aria-hidden="true"></i>  Môn Học</a></li>
          <li class="active"><a href="../progess"><i class="fa fa-bar-chart icon_of_menu_holizontal" aria-hidden="true"></i>  Tiến Trình</a></li>
          <li><a href="../news"><i class="fa fa-newspaper-o icon_of_menu_holizontal" aria-hidden="true"></i>  Tin Tức</a></li>
          <li><a href="#"><i class="fa fa-commenting icon_of_menu_holizontal" aria-hidden="true"></i>  Diễn đàn</a></li>
        </ul>
        <div class="right" style="max-height:100%">
          <span id='block_avatar'>
            <img id='avatar' src="{{user.avatar}}" alt="avatar">
            {{user.username}}
            <i class="fa fa-caret-down dropdown-button" aria-hidden="true" data-beloworigin="true" data-activates='dropdown' style="height:15px"></i>
            <ul class='dropdown-content'id='dropdown' >
              <li><a href="../api/users/logout">Logout</a></li>
            </ul>
          </span>
        </div>
      </nav>
    </div>

<br>
<div class="divider"></div>

<div class="row">
  <div class="col s2 l2" >
    <div id="menu-vertical" class="teal lighten-2">
      <ul>
        <li><a href="/progess/?subject=math">Toán</a></li>
        <li><a href="/progess/?subject=phy">Lý</a></li>
        <li><a href="/progess/?subject=chem">Hoá</a></li>
        <li><a href="/progess/?subject=bio">Sinh</a></li>
        <li><a href="/progess/?subject=eng">Anh</a></li>
      </ul>
    </div>
  </div>
  <div class="col s10 l10">
    <canvas id="easy" width="1000" height="400"></canvas>
    <h1>{{point}}</h1>
    <h2>{{name}}</h2>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js" integrity="sha256-VNbX9NjQNRW+Bk02G/RO6WiTKuhncWI4Ey7LkSbE+5s=" crossorigin="anonymous"></script>
    <script>
    var ctx = document.getElementById("easy").getContext('2d');

    var myChart = new Chart(ctx, {
        type: 'line',
         data: {
            labels: [
              {{#each nameEasy}}
                '{{this}}',
              {{/each}}
            ],
            datasets: [{
                label: 'Đề mức độ dễ',
                data: [{{pointEasy}}],
                backgroundColor: '',
                borderColor:'#4DB6AC',
                borderWidth: 3
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
    </script>
    <canvas id="medium" width="1000" height="400">ahihi đồ chó</canvas>
    <h1>{{point}}</h1>
    <h2>{{name}}</h2>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js" integrity="sha256-VNbX9NjQNRW+Bk02G/RO6WiTKuhncWI4Ey7LkSbE+5s=" crossorigin="anonymous"></script>
    <script>
    var ctx = document.getElementById("medium").getContext('2d');
    var point = "{{@point}}";
    var name = "{{@name}}";
    var myChart = new Chart(ctx, {
        type: 'line',
         data: {
           labels: [
             {{#each nameMedium}}
               '{{this}}',
             {{/each}}
           ],
            datasets: [{
                label: 'Đề mức độ trung bình',
                data: [{{pointMedium}}],
                backgroundColor: '',
                borderColor:'#4DB6AC',
                borderWidth: 3
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
    </script>
    <canvas id="difficult" width="1000" height="400">ahihi đồ chó</canvas>
    <h1>{{point}}</h1>
    <h2>{{name}}</h2>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js" integrity="sha256-VNbX9NjQNRW+Bk02G/RO6WiTKuhncWI4Ey7LkSbE+5s=" crossorigin="anonymous"></script>
    <script>
    var ctx = document.getElementById("difficult").getContext('2d');
    var point = "{{@point}}";
    var name = "{{@name}}";
    var myChart = new Chart(ctx, {
        type: 'line',
         data: {
           labels: [
             {{#each nameDifficult}}
               '{{this}}',
             {{/each}}
           ],
            datasets: [{
                label: 'Đề mức độ khó',
                data: [{{pointDifficult}}],
                backgroundColor:'',
                borderColor:'4DB6AC',
                borderWidth: 3
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
    </script>
    <canvas id="all" width="1000" height="400">ahihi đồ chó</canvas>
    <h1>{{point}}</h1>
    <h2>{{name}}</h2>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js" integrity="sha256-VNbX9NjQNRW+Bk02G/RO6WiTKuhncWI4Ey7LkSbE+5s=" crossorigin="anonymous"></script>
    <script>
    var ctx = document.getElementById("all").getContext('2d');
    var point = "{{@point}}";
    var name = "{{@name}}";
    var myChart = new Chart(ctx, {
        type: 'line',
         data: {
           labels: [
             {{#each nameAll}}
               '{{this}}',
             {{/each}}
           ],
           datasets: [{
               label: 'Tổng hợp',
               data: [{{pointAll}}],
               backgroundColor:'',
               borderColor:'4DB6AC',
               borderWidth: 3
           }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
    </script>
  </div>
</div>
