<link rel="stylesheet" href="/css/result.css">

<br>

<div class="row">
  <div class="col s2 l2">
  </div>
  <div class="col s8 l8">
    <div>
      <div class="center-align">
        <i class="fa fa-cubes fa-3x" aria-hidden="true"></i> Result
      </div>
    </div>
    <br><br>

    <div id="name_of_exam">
      <div>
        <i class="fa fa-newspaper-o fa-2x" aria-hidden="true"></i>
        <span>{{examName}}</span>
      </div>
    </div>

    <hr>

    <div id="point">
      <div>
        <i class="fa fa-star fa-2x" aria-hidden="true"></i>
        <span>Điểm bài thi: {{score}}</span>
      </div>
    </div>

    <hr>

    <div id="point">
      <div>
        <i class="fa fa-star fa-2x" aria-hidden="true"></i>
        <span>Số câu trả lời đúng: {{numberOfTrueAnswer}}</span>
      </div>
    </div>

    <hr>

    <div id="point_bonus">
      <div>
        <i class="fa fa-star fa-2x" aria-hidden="true"></i>
        <span>Điểm tích luỹ cộng thêm : {{bonusPoint}}</span>
      </div>
    </div>

    <hr>

    <div id="total_point">
      <div>
        <i class="fa fa-star fa-2x" aria-hidden="true"></i>
        <span>Điểm tích luỹ hiện tại: {{newPoint}}</span>
      </div>
    </div>

    <hr>

    <div id="rank">
      <div>
        <i class="fa fa-star fa-2x" aria-hidden="true"></i>
        <span>Rank:{{rank}}</span>
      </div>
    </div>

    <hr>
    <div>
      <i class="fa fa-table fa-2x" aria-hidden="true"></i>
      <span>Answer sheet</span>
    </div>
    <div class="row">
      <div class="col s3 l3">
        <table>
          <tr>
            <th>Question</th>
            <th>Answer</th>
          </tr>
          <tr>
            <td>1</td>
            <td>{{trueAnswer.[0]}}</td>
          </tr>
          <tr>
            <td>2</td>
            <td>{{trueAnswer.[1]}}</td>
          </tr>
          <tr>
            <td>3</td>
            <td>{{trueAnswer.[2]}}</td>
          </tr>
          <tr>
            <td>4</td>
            <td>{{trueAnswer.[3]}}</td>
          </tr>
          <tr>
            <td>5</td>
            <td>{{trueAnswer.[4]}}</td>
          </tr>
          <tr>
            <td>6</td>
            <td>{{trueAnswer.[5]}}</td>
          </tr>
          <tr>
            <td>7</td>
            <td>{{trueAnswer.[6]}}</td>
          </tr>
          <tr>
            <td>8</td>
            <td>{{trueAnswer.[7]}}</td>
          </tr>
          <tr>
            <td>9</td>
            <td>{{trueAnswer.[8]}}</td>
          </tr>
          <tr>
            <td>10</td>
            <td>{{trueAnswer.[9]}}</td>
          </tr>
          <tr>
            <td>11</td>
            <td>{{trueAnswer.[10]}}</td>
          </tr>
          <tr>
            <td>12</td>
            <td>{{trueAnswer.[11]}}</td>
          </tr>
          <tr>
            <td>13</td>
            <td>{{trueAnswer.[12]}}</td>
          </tr>
        </table>
      </div>
      <div class="col s3 l3">
        <table>
          <tr>
            <th>Question</th>
            <th>Answer</th>
          </tr>
          <tr>
            <td>14</td>
            <td>{{trueAnswer.[13]}}</td>
          </tr>
          <tr>
            <td>15</td>
            <td>{{trueAnswer.[14]}}</td>
          </tr>
          <tr>
            <td>16</td>
            <td>{{trueAnswer.[15]}}</td>
          </tr>
          <tr>
            <td>17</td>
            <td>{{trueAnswer.[16]}}</td>
          </tr>
          <tr>
            <td>18</td>
            <td>{{trueAnswer.[17]}}</td>
          </tr>
          <tr>
            <td>19</td>
            <td>{{trueAnswer.[18]}}</td>
          </tr>
          <tr>
            <td>20</td>
            <td>{{trueAnswer.[19]}}</td>
          </tr>
          <tr>
            <td>21</td>
            <td>{{trueAnswer.[20]}}</td>
          </tr>
          <tr>
            <td>22</td>
            <td>{{trueAnswer.[21]}}</td>
          </tr>
          <tr>
            <td>23</td>
            <td>{{trueAnswer.[22]}}</td>
          </tr>
          <tr>
            <td>24</td>
            <td>{{trueAnswer.[23]}}</td>
          </tr>
          <tr>
            <td>25</td>
            <td>{{trueAnswer.[24]}}</td>
          </tr>
          <tr>
            <td>26</td>
            <td>{{trueAnswer.[25]}}</td>
          </tr>
        </table>
      </div>
      <div class="col s3 l3">
        <table>
          <tr>
            <th>Question</th>
            <th>Answer</th>
          </tr>
          <tr>
            <td>27</td>
            <td>{{trueAnswer.[26]}}</td>
          </tr>
          <tr>
            <td>28</td>
            <td>{{trueAnswer.[27]}}</td>
          </tr>
          <tr>
            <td>29</td>
            <td>{{trueAnswer.[28]}}</td>
          </tr>
          <tr>
            <td>30</td>
            <td>{{trueAnswer.[29]}}</td>
          </tr>
          <tr>
            <td>31</td>
            <td>{{trueAnswer.[30]}}</td>
          </tr>
          <tr>
            <td>32</td>
            <td>{{trueAnswer.[31]}}</td>
          </tr>
          <tr>
            <td>33</td>
            <td>{{trueAnswer.[32]}}</td>
          </tr>
          <tr>
            <td>34</td>
            <td>{{trueAnswer.[33]}}</td>
          </tr>
          <tr>
            <td>35</td>
            <td>{{trueAnswer.[34]}}</td>
          </tr>
          <tr>
            <td>36</td>
            <td>{{trueAnswer.[35]}}</td>
          </tr>
          <tr>
            <td>37</td>
            <td>{{trueAnswer.[36]}}</td>
          </tr>
          <tr>
            <td>38</td>
            <td>{{trueAnswer.[37]}}</td>
          </tr>
          <tr>
            <td>39</td>
            <td>{{trueAnswer.[38]}}</td>
          </tr>
        </table>
      </div>
      <div class="col s3 l3">
        <table>
          <tr>
            <th>Question</th>
            <th>Answer</th>
          </tr>
          <tr>
            <td>40</td>
            <td>{{trueAnswer.[39]}}</td>
          </tr>
          <tr>
            <td>41</td>
            <td>{{trueAnswer.[40]}}</td>
          </tr>
          <tr>
            <td>42</td>
            <td>{{trueAnswer.[41]}}</td>
          </tr>
          <tr>
            <td>43</td>
            <td>{{trueAnswer.[42]}}</td>
          </tr>
          <tr>
            <td>44</td>
            <td>{{trueAnswer.[43]}}</td>
          </tr>
          <tr>
            <td>45</td>
            <td>{{trueAnswer.[44]}}</td>
          </tr>
          <tr>
            <td>46</td>
            <td>{{trueAnswer.[45]}}</td>
          </tr>
          <tr>
            <td>47</td>
            <td>{{trueAnswer.[46]}}</td>
          </tr>
          <tr>
            <td>48</td>
            <td>{{trueAnswer.[47]}}</td>
          </tr>
          <tr>
            <td>49</td>
            <td>{{trueAnswer.[48]}}</td>
          </tr>
          <tr>
            <td>50</td>
            <td>{{trueAnswer.[49]}}</td>
          </tr>
          <tr>
            <td>51</td>
            <td></td>
          </tr>
          <tr>
            <td>52</td>
            <td></td>
          </tr>
        </table>
      </div>
      <hr>
      <br>
      <div>
        <i class="fa fa-table fa-2x" aria-hidden="true"></i>
        <span>Your answer</span>
      </div>
      <div class="row">
        <div class="col s3 l3">
          <table>
            <tr>
              <th>Question</th>
              <th>Answer</th>
            </tr>
            <tr>
              <td>1</td>
              <td>{{answersUser.[0]}}</td>
            </tr>
            <tr>
              <td>2</td>
              <td>{{answersUser.[1]}}</td>
            </tr>
            <tr>
              <td>3</td>
              <td>{{answersUser.[2]}}</td>
            </tr>
            <tr>
              <td>4</td>
              <td>{{answersUser.[3]}}</td>
            </tr>
            <tr>
              <td>5</td>
              <td>{{answersUser.[4]}}</td>
            </tr>
            <tr>
              <td>6</td>
              <td>{{answersUser.[5]}}</td>
            </tr>
            <tr>
              <td>7</td>
              <td>{{answersUser.[6]}}</td>
            </tr>
            <tr>
              <td>8</td>
              <td>{{answersUser.[7]}}</td>
            </tr>
            <tr>
              <td>9</td>
              <td>{{answersUser.[8]}}</td>
            </tr>
            <tr>
              <td>10</td>
              <td>{{answersUser.[9]}}</td>
            </tr>
            <tr>
              <td>11</td>
              <td>{{answersUser.[10]}}</td>
            </tr>
            <tr>
              <td>12</td>
              <td>{{answersUser.[11]}}</td>
            </tr>
            <tr>
              <td>13</td>
              <td>{{answersUser.[12]}}</td>
            </tr>
          </table>
        </div>
        <div class="col s3 l3">
          <table>
            <tr>
              <th>Question</th>
              <th>Answer</th>
            </tr>
            <tr>
              <td>14</td>
              <td>{{answersUser.[13]}}</td>
            </tr>
            <tr>
              <td>15</td>
              <td{{answersUser.[14]}}</td>
            </tr>
            <tr>
              <td>16</td>
              <td>{{answersUser.[15]}}</td>
            </tr>
            <tr>
              <td>17</td>
              <td>{{answersUser.[16]}}</td>
            </tr>
            <tr>
              <td>18</td>
              <td>{{answersUser.[17]}}</td>
            </tr>
            <tr>
              <td>19</td>
              <td>{{answersUser.[18]}}</td>
            </tr>
            <tr>
              <td>20</td>
              <td>{{answersUser.[19]}}</td>
            </tr>
            <tr>
              <td>21</td>
              <td>{{answersUser.[20]}}</td>
            </tr>
            <tr>
              <td>22</td>
              <td>{{answersUser.[21]}}</td>
            </tr>
            <tr>
              <td>23</td>
              <td>{{answersUser.[22]}}</td>
            </tr>
            <tr>
              <td>24</td>
              <td>{{answersUser.[23]}}</td>
            </tr>
            <tr>
              <td>25</td>
              <td>{{answersUser.[24]}}</td>
            </tr>
            <tr>
              <td>26</td>
              <td>{{answersUser.[25]}}</td>
            </tr>
          </table>
        </div>
        <div class="col s3 l3">
          <table>
            <tr>
              <th>Question</th>
              <th>Answer</th>
            </tr>
            <tr>
              <td>27</td>
              <td>{{answersUser.[26]}}</td>
            </tr>
            <tr>
              <td>28</td>
              <td>{{answersUser.[27]}}</td>
            </tr>
            <tr>
              <td>29</td>
              <td>{{answersUser.[28]}}</td>
            </tr>
            <tr>
              <td>30</td>
              <td>{{answersUser.[29]}}</td>
            </tr>
            <tr>
              <td>31</td>
              <td>{{answersUser.[30]}}</td>
            </tr>
            <tr>
              <td>32</td>
              <td>{{answersUser.[31]}}</td>
            </tr>
            <tr>
              <td>33</td>
              <td>{{answersUser.[32]}}</td>
            </tr>
            <tr>
              <td>34</td>
              <td>{{answersUser.[33]}}</td>
            </tr>
            <tr>
              <td>35</td>
              <td>{{answersUser.[34]}}</td>
            </tr>
            <tr>
              <td>36</td>
              <td>{{answersUser.[35]}}</td>
            </tr>
            <tr>
              <td>37</td>
              <td>{{answersUser.[36]}}</td>
            </tr>
            <tr>
              <td>38</td>
              <td>{{answersUser.[37]}}</td>
            </tr>
            <tr>
              <td>39</td>
              <td>{{answersUser.[38]}}</td>
            </tr>
          </table>
        </div>
        <div class="col s3 l3">
          <table>
            <tr>
              <th>Question</th>
              <th>Answer</th>
            </tr>
            <tr>
              <td>40</td>
              <td>{{answersUser.[39]}}</td>
            </tr>
            <tr>
              <td>41</td>
              <td>{{answersUser.[40]}}</td>
            </tr>
            <tr>
              <td>42</td>
              <td>{{answersUser.[41]}}</td>
            </tr>
            <tr>
              <td>43</td>
              <td>{{answersUser.[42]}}</td>
            </tr>
            <tr>
              <td>44</td>
              <td>{{answersUser.[43]}}</td>
            </tr>
            <tr>
              <td>45</td>
              <td>{{answersUser.[44]}}</td>
            </tr>
            <tr>
              <td>46</td>
              <td>{{answersUser.[45]}}</td>
            </tr>
            <tr>
              <td>47</td>
              <td>{{answersUser.[46]}}</td>
            </tr>
            <tr>
              <td>48</td>
              <td>{{answersUser.[47]}}</td>
            </tr>
            <tr>
              <td>49</td>
              <td>{{answersUser.[48]}}</td>
            </tr>
            <tr>
              <td>50</td>
              <td>{{answersUser.[49]}}</td>
            </tr>
            <tr>
              <td>51</td>
              <td></td>
            </tr>
            <tr>
              <td>52</td>
              <td></td>
            </tr>
          </table>
        </div>
    </div>
  </div>
    <div class="col s3 l3">
    </div>
  </div>
